@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s !important;
  -webkit-text-fill-color: #fff !important; /* Màu chữ khi autofill */
  box-shadow: 0 0 0px 1000px #000000 inset !important; /* Màu nền bạn muốn */
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 5, 48, 0.6);
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

img {
  pointer-events: none; /* Chặn kéo thả */
  -webkit-user-drag: none; /* Chặn kéo trên Safari */
  user-select: none; /* Chặn bôi đen */
}

.circle-stroke {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  transition: stroke-dashoffset 0.6s ease-out;
}

.hover-group:hover .circle-stroke {
  stroke-dashoffset: 0;
}

@layer utilities {
  @keyframes circleDash {
    0% {
      stroke-dasharray: 70;
      stroke-dashoffset: 70;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  .animate-circle {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    animation: circleDash 4s linear forwards 1s;
  }
}
